aiocache==0.8.0
aiofiles==0.3.2
aiohttp==2.3.4
aioredis==0.3.5
AoikLiveReload==0.1.0
argh==0.26.2
async-timeout==2.0.0
boto3==1.4.7
botocore==1.7.48
certifi==2017.11.5
chardet==3.0.4
coverage==4.4.1
dateparser==0.6.0
docutils==0.14
ecdsa==0.13
future==0.16.0
gunicorn==19.7.1
hiredis==0.2.0
httptools==0.0.9
idna==2.6
jmespath==0.9.3
multidict==3.3.2
pathtools==0.1.2
py==1.5.2
pycrypto==2.6.1
pynamodb==3.2.1
pytest==3.2.5
pytest-cov==2.5.1
pytest-sanic==0.1.6
python-dateutil==2.6.1
python-jose==1.4.0
pytz==2017.3
PyYAML==3.12
regex==2017.11.9
requests==2.18.4
ruamel.yaml==0.15.34
s3transfer==0.1.11
sanic==0.6.0
Sanic-Cors==0.6.0.0
six==1.11.0
tzlocal==1.4
ujson==1.35
urllib3==1.22
uvloop==0.8.1
watchdog==0.8.3
websockets==4.0.1
yarl==0.15.0
