gbdx-cloud-harness>=0.1.1
awscli>=1.10.28
boto>=2.40.0
cython>=0.24
pyproj>=1.9.5.1
scipy>=0.13.3
matplotlib>=1.5.1
scikit-learn>=0.17.1
protobuf>=2.6.1
imutils>=0.3.6
yapps>=2.2.0
profilehooks>=1.8.1
fiona>=1.6.4
shapely>=1.5.15
descartes>=1.0.2
Pillow==9.0.0
psycopg2>=2.6.1
jinja2>=2.8
numpy
