django==1.7.11
gunicorn==19.1.1
python-dateutil==1.5
pytz==2014.7
lxml==3.3.3
django_extensions
djangorestframework==2.4.3
markdown==2.5.1
django-filter==0.8
geoip2==2.0.0
mock==1.0.1
shapely==1.4.3
pyyaml==3.10
ua-parser==0.3.5
user-agents==0.3.0
django-nullablecharfield==0.2.2
coverage==3.7.1
django-coverage==1.2.4
Impostor==1.0.2
ipaddress==1.0.7
mercantile==0.8.2
future==0.15.2
wsgiref==0.1.2
bcrypt==1.0.2
psycopg2==2.6.1
newrelic>=2.54.0.41
django-braces>=1.8.0
jsonfield>=1.0.3
stripe>=1.22.2
python-memcached==1.57
python-social-auth==0.2.19
django-oauth-toolkit==0.10.0
